* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: black;
    border: 2px solid black;
    width: 94%;
    height: 80px;
    position: absolute;
    top: 21px;
    left: 30px;
}

.image {
    position: absolute;
    top: 39px;
    left: 54px;
}

.search {
    position: absolute;
    top: 49px;
    left: 244px;
}

.line {
    display: flex;
    position: absolute;
    top: 32px;
    left: 500px;
    list-style-type: none;
}

.line li {
    border: 3px solid rgb(247, 139, 139);
    color: white;
    width: 70px;
    height: 20px;
    margin-left: 24px;
    text-align: center;
    padding: 20px;
    font-size: 23px;
}

.line li:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.slideshow {
    border: 3px solid rgb(247, 139, 139);
    width: 94%;
    position: absolute;
    left: 30px;
    top: 148px;
    height: 400px;
}

.products {
    border-bottom: 3px solid black;
    border-bottom-left-radius: 25px;
    width: 230px;
    position: absolute;
    top: 16cm;
    left: 74px;
    text-align: center;
}

.squares {
    display: flex;
}

.square1 {
    border: 3px solid rgb(247, 139, 139);
    border-radius: 20px;
    width: 259px;
    height: 309px;
    margin: 690px 33px 28px;
}

.square1:hover {
    border-color: black;
    border-radius: 0px;
}

.image1 {
    margin-left: 27px;
    margin-top: 14px;
}

.Technology {
    text-align: center;
    margin-top: 20px;
}

.button1 {
    margin-left: 52px;
    margin-top: 22px;
    width: 156px;
    height: 46px;
}

.button2 {
    margin-left: 52px;
    margin-top: 22px;
    width: 156px;
    height: 46px;
}

.button3 {
    margin-left: 52px;
    margin-top: 22px;
    width: 156px;
    height: 46px;
}

.squares1 {
    display: flex;
    border: 3px solid rgb(247, 139, 139);
    border-radius: 20px;
    width: 90%;
    height: 309px;
    margin-left: 33px;
    padding-left: 30px;
    margin-top: 40px;
}

.button4 {
    margin-left: 52px;
    margin-top: 22px;
    width: 156px;
    height: 46px;
}

.button5 {
    margin-left: 52px;
    margin-top: 22px;
    width: 156px;
    height: 46px;
}

.button6 {
    margin-left: 52px;
    margin-top: 22px;
    width: 156px;
    height: 46px;
}

.login {
    padding-top: 64px;
    margin-left: 351px;
}

.email {
    margin-bottom: 30px;
}

.sign-in {
    padding-top: 27px;
    margin-left: 436px;
}

.click {
    width: 130px;
    height: 40px;
}

.click:hover {
    background-color: red;
}

.ndarja {
    display: flex;
    list-style-type: none;
    margin-left: -124px;
}

.ndarja li {
    margin-left: 219px;
    font-size: 30px;
}

.border {
    border-bottom: 3px double black;
    width: 93%;
    margin-top: 5px;
    margin-left: 34px;
}

.ndarja1 {
    display: flex;
    list-style-type: none;
    margin-left: -92px;
    padding-top: 28px;
}

.ndarja1 li {
    font-size: 30px;
    margin-left: 202px;
}

.border1 {
    border-bottom: 3px double black;
    width: 93%;
    margin-top: 5px;
    margin-left: 34px;
}

.square2:hover {
    border: 3px solid rgb(247, 139, 139);
    border-color: black;
    border-radius: 20px;
}

.square2 {
    margin-top: -1px;
}