* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: black;
    border: 2px solid black;
    /*width: 94%;*/
    width: 97%;
    height: 80px;
    position: absolute;
    top: 21px;
    left: 30px;
}

.black-block {
    border: 1px solid black;
    background-color: black;
    width: 142px;
    height: 131px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.image {
    position: absolute;
    top: 6px;
    left: 32px;
}

.search1 {
    /*width: 200px;*/
    width: 300px;
    height: 38px;
    position: absolute;
    top: 45px;
    /*left: 308px;*/
    left: 669px;
}

.line {
    display: flex;
    position: absolute;
    top: 32px;
    /*left: 500px;*/
    left: 1150px;
    list-style-type: none;
}

.line li {
    border: 3px solid rgb(247, 139, 139);
    color: white;
    /*width: 70px;*/
    width: 109px;
    height: 20px;
    /*margin-left: 24px;*/
    margin-left: 65px;
    text-align: center;
    padding: 20px;
    font-size: 23px;
}

.line li:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.img1 {
    width: 250px;
    height: 250px;
    /*margin-left: 197px;*/
    margin-left: 479px;
}

.first-border {
    display: flex;
    margin-top: 216px;
}

.second-border {
    display: flex;
    margin-top: 89px;
    border-style: none solid solid solid;
    /*width: 80%;*/
    width: 91%;
    margin-left: 82px;
    border-radius: 20px;
    border-color: rgb(247, 139, 139);
}

.NameOfProduct {
    /*margin-left: 155px;*/
    margin-left: 430px;
}

.third-border {
    display: flex;
    margin-top: 17%;
    margin-left: -232px;
}

.About {
    /*margin-left: 602px;*/
    margin-left: 1050px;
    border-top: 3px solid rgb(247, 139, 139);
    border-radius: 20px;
    width: 252px;
    text-align: center;
}

.fourth-border {
    display: flex;
    /*margin-left: 68px;*/
    margin-left: 510px;
    text-align: center;
}

.first-table {
    margin-left: 291px;
    margin-top: 40px;
}

.text {
    padding-top: 24px;
}

.fifth-border {
    text-align: center;
    margin-top: 60px;
}

.button {
    width: 122px;
    height: 64px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(247, 139, 139);
    color: black;
}

.sub-menu-1 {
    display: none;
}

.menu-bar :hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: black;
    margin-top: 0px;
    margin-left: -57px;
}

.menu-bar {
    position: absolute;
    top: 30px;
    /*left: 174px;*/
    left: 302px;
    color: white;
    border: 3px solid rgb(247, 139, 139);
    /*width: 70px;*/
    width: 109px;
    height: 20px;
    padding: 20px;
    font-size: 23px;
}

.menu-bar ul li {
    list-style-type: none;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    height: 24px;
    color: White;
    text-decoration-line: none;
}

.sub-menu-1 ul li:hover {
    background-color: rgb(247, 139, 139);
    color: black;
}